*{
    padding:0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    box-sizing: border-box;
}
.hero{
    block-size: 100vh;
    inline-size: 100vw;
    background-image: url(Background1.jpg);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 45px;
    padding-inline-start: 8%;
    padding-inline-end: 8%;

}
.logo{
color: white;
font-size: 50px;
letter-spacing: 1px;
cursor: pointer;
font-size: 50px;
}
span{
    color: maroon;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 25px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
   

}
nav ul li a:hover{
    color: maroon;
    transition: .3s;
    
}

.btn{
    background-color: maroon;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: tranform .4s ;
    font-size: 20px;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-block-end: 50px;
}
h4{
    color:#b31b1b;
    letter-spacing: 2px;
    font-size: 30px;

}
.newslatter form{
inline-size: 480px;
max-inline-size: 100%;
position: relative;
}
.newslatter form input:first-child {
display: inline-block;
inline-size: 100%;
padding: 14px 130px 14px 15px;
border: 2px solid maroon;
outline: none;
border-radius: 30px;
}
.newslatter form input:last-child {
position: absolute;
display: inline-block;
outline: none;
border: none;
padding: 10px 40px;
border-radius: 30px;
background-color: maroon;
color: white;
box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
inset-block-start: 6px;
inset-inline-end: 6px;

}
.about{
    inline-size: 100%;
    padding: 150px 0px;
    background-image: url(Background3.jpg);
    background-size: cover;
    background-position: center;


}
.about img{
    block-size: auto;
    inline-size: 550px;
    
}
.about-text{
    inline-size: 550px;
}
.main{
    inline-size: 1130px;
    max-inline-size: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-block-end: 20px;
}
.about-text p{
color: #faebd7;
letter-spacing: 1px;
line-height: 28px;
font-size: 20px;
margin-block-end: 45px;
font-family: sans-serif;
}

button {
    text-decoration: none;
    position: absolute;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    
   }
   
   button:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   button:hover::before {
    filter: blur(20px);
   }
   
   button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }

   .service{
    inline-size: 100%;
    padding: 200px 0px;
    background-image: url(Background3.jpg);
   }

   .title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: -60px auto;
    text-align: center;
   }

  .box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 700px;
}
.card{
  block-size: 365px;
  inline-size: 355px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: maroon;
}
h5{
  color: white;
  font-size: 23px;
  margin-block-end: 15px;
}
.pra p{ 
  color: #fcfc;
  font-size: 16px;
line-height: 27px;
margin-block-end: 25px;
}
.card .button {
  background-color: maroon;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 13px 22px;
  border-radius: 30px;
  transition: 0.4s; ;
}
.card .button :hover{ 
  background-color: transparent;
  border: 2px solid maroon;
  cursor: pointer;
}
body{
    overflow: hidden visible;
}
.contact-me{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: maroon;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: 13px 30px;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid maroon;
    cursor: pointer;
}

